* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

// Font-size mixin

$display-wide: 1920;
$display-narrow: 320;

@mixin fluid($property, $minValue, $maxValue) {
  $x: ($maxValue - $minValue)/ ($display-wide - $display-narrow);
  $y: $maxValue - $display-wide * $x;
  #{$property}: calc(#{100 * $x}vw + #{$y}px);
}

// Styles for recurring elements

.html {
  background-color: #ef652a;
}

.css {
  background-color: #2965f1;
}

.javascript {
  background-color: #f7df1e;
}

.node {
  background: #68a063;
}

.bootstrap {
  background-color: #553c7b;
  color: white;
}

.mongo {
  background-color: #589636;
  color: white;
}

header {
  height: 25vh;
  width: 100%;
  display: flex;
}

nav {
  margin: auto;
  #web-name {
    @include fluid("font-size", 28.8, 70);
    font-family: "Space Mono", monospace;
    background-image: linear-gradient(
      transparent 0%,
      transparent calc(80% - 9px),
      rgba(0, 255, 0, 0.35) calc(70% - 9px),
      rgba(0, 255, 0, 0.35) 100%
    );
  }
}

#navi {
  display: none;
}

// Portfolio Section

.portfolio {
  display: flex;
  flex-direction: column;
  .portfolio-title {
    margin: auto;
    text-align: center;
    font-family: "Space Mono", monospace;
    @include fluid("font-size", 20, 40);
  }

  .work {
    background-image: linear-gradient(
      transparent 0%,
      transparent calc(80% - 9px),
      rgba(250, 255, 0, 1) calc(70% - 9px),
      rgba(250, 255, 0, 1) 100%
    );
  }
}

.portfolio-items {
  font-family: "Source Sans Pro", sans-serif;

  h1 {
    font-family: "Space Mono", monospace;
    // font-family: "Source Sans Pro", sans-serif;

    padding-top: 2em;
    padding-bottom: 0.4em;
    text-align: center;
    @include fluid("font-size", 20, 38);
  }
}

.tags {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  margin: 6px 0 6px 0;
  p {
    margin-right: 6px;
    padding: 0.1em;
  }
}

// Portfolio items

.app-name {
  font-size: 2em;
  font-weight: 700;
}

.col {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 100%;
  padding: 0.5em 0.8em 2em 0.8em;

  img {
    width: 100%;
    // padding-top: 0.5em;
  }

  .description {
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: lightpink;
    padding: 1em;
    // margin-bottom: 0.5em;
    min-height: 200px;
    @include fluid("font-size", 16, 26);
  }

  a {
    text-decoration: none;
    color: blue;
  }
}

#item1 {
  .description {
    background-color: teal;
    color: white;
  }
}

#item2 {
  .description {
    background-color: lightgoldenrodyellow;
  }
}

#item4 {
  .description {
    background-color: rgb(10, 90, 114);
    color: white;
  }
}

#item5 {
  .description {
    background-color: rgb(6, 36, 134);
    color: white;
  }
}

// About Me

.about {
  width: 100%;
  display: flex;
  flex-direction: column;

  h1 {
    font-family: "Space Mono", monospace;
    text-align: center;
  }
  p,
  h2,
  h3,
  a {
    font-family: "Source Sans Pro", sans-serif;
    text-align: center;
    text-decoration: none;
    color: #000;
  }

  p {
    @include fluid("font-size", 16, 24);
  }
  .link-top {
    text-align: center;
    font-size: 2em;
  }
}

.media-links {
  background-color: rgb(0, 255, 221);
  display: flex;
  justify-content: space-evenly;
  list-style: none;
  font-size: 2em;
  width: 200px;
  margin: auto;
  li {
    margin: auto;
  }
}

// media queries

@media only screen and (min-width: 600px) {
  #navi {
    font-family: "Source Sans Pro", sans-serif;

    display: flex;
    flex-direction: column;
    text-align: center;
    position: absolute;
    left: 30px;
    top: 30px;
    background-color: lightslategray;
    @include fluid("height", 150, 250);
    @include fluid("width", 90, 100);
    // width: 100px;
    // height: 250px;
    a {
      margin: auto;
      text-decoration: none;
      color: white;
      font-size: 20px;
    }
  }

  .col {
    flex-direction: row;

    .description {
      margin-right: 1em;
      p {
        margin: auto;
      }
    }
    img {
      width: 50vw;
    }
  }

  .tags {
    display: flex;
    flex-wrap: wrap;
  }
}
